@font-face {
  font-family: 'SpaceRanger';
  font-display: swap;
  src: url('../../fonts/spacerangertitle.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter-SemiBold';
  font-display: swap;
  src: url('../../fonts/Inter-SemiBold.woff2') format('woff2');
}
